/* Fotter pie de pagina */
.informacion{
            display: grid;
            background-color: black;
            font-size: 20px;
            color: white;
            text-align: center;
            margin: 30px 0px;
            padding: 10px;
            
            ul{ 
                list-style: none;
            }
}