/* Media queries para tablet */
@media(max-width: 991px){
    .hamburguesa:hover{
        position: relative;
        font-size: 30px;
        color: blueviolet;
    }

    .hamburguesa{
        display: block;
    }

    .nav-link{        
        font-size: 20px;
        color:brown;
    }

    .navbar-nav{
        position: absolute;        
        background-color: rgb(241, 223, 223);        
        height: 500px;
        width: 300px;
        left: -100px;
        padding: 20px;
        z-index: 2;
        border-radius: 10px;
        box-shadow:0 0 10px;                
    }

    .menu{
        display: none;
    }
    .fotos{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 200px 200px 200px;
    }
}

/* Media queries para movil */
@media(max-width: 500px){
    .hamburguesa{
        display: block;
    }
    .menu{
        display: none;
    }
    .fotos{
        height: 100%;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6 200);
        margin: 20px 0px;
    }
    
    .titulo{
        font-size: 30px;
    }

    .sub-titulo{
        font-size: 30px;
    }
}