/* Imagen con superposicion del link html catalogos */

section {
  .grilla {
    .row {
      .uno {
        position: relative;

        img {
          display: flex;
          justify-self: center;
          border: solid 2px;
          border-radius: 20px;
          box-shadow: 0 0 10px;
          margin: 10px;
        }

        &:hover {
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(19, 9, 9, 0.621);
          }
        }

        .link {
          position: absolute;
          color: brown;
          bottom: 10px;
          left: calc(30%);
          z-index: 2;
          text-decoration: none;
          margin: 5px;

          &:hover {
            color: yellow;
            font-size: 20px;            
          }
        }
      }

    }
  }
}